# Gemini API Cookies (Obtenha conforme instruções da biblioteca Gemini-API)
# https://github.com/HanaokaYuzu/Gemini-API#authentication
GEMINI_SECURE_1PSID=""
GEMINI_SECURE_1PSIDTS="" # Ou "", ou pode omitir se GEMINI_SECURE_1PSIDTS for None na sua conta

# (Opcional) Configurações do Uvicorn
# HOST="0.0.0.0"
# PORT="8000"

# (Opcional) Nível de Log (DEBUG, INFO, WARNING, ERROR, CRITICAL)
LOG_LEVEL="INFO"
